# youtube-dl                # for downloading youtube videos. Asof 202306: fails to work
yt-dlp                      # for downloading youtube videos
youtube-search-python       # for searching youtube by name
pynormalize                 # for normalizing volume of mp3 files


PyQt6
PyQt6-WebEngine
superqt       # A range slider for cutting files
